$greenBlue: #34c6d3;
$steelGray: #41464b;
$blueBayoux: #64707b;
$white: #fff;
$black: #000;

$animationDuration: .5s;



/*============
    General
=============*/

html, body {
  height: 100%;
}


body {
  font-family: 'Roboto', sans-serif;
}

p {
  color: $blueBayoux;
  font-size: 16px;
  font-weight: 300;
}

h3 {
  text-transform: uppercase;
  color: $steelGray;
}



/*============
 Home Section
=============*/

#home {
  height: 100%;
}

#home-cover {
  height: 100%;
  background-image: url("../images/bg-home.jpg");
}

#home-content-box {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-box-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#home-heading {
  h3 {
    color: $white;
    font-size: 55px;
    font-weight: 400;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
  }
}


/*============
Parallax (Generic)
=============*/
.bg-parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}




/*============
    Buttons
=============*/

.btn-general {
  border-width: 2px;
  border-radius: 0;
  padding: 12px 26px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.btn-white {
  border-color: $white;
  color: $white;

  &:hover, &:focus {
    background-color: $white;
    color: $steelGray;
  }
}



/*============
  Animations
=============*/

#home-cover, #home-heading, #home-btn {
  animation-duration: $animationDuration;
}

#home-cover {
  animation-delay: .1s;
}

#home-heading {
  animation-delay: .5s;
}

#home-btn {
  animation-delay: 1s;
}



/*============
    Content
=============*/

.content-box {
  padding: 60px 0 60px 0;
}

.content-title {
  h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
  }
}

.content-title-underline {
  width: 30px;
  height: 3px;
  background-color: $greenBlue;
  margin: 0 auto 30px auto;
}


/*============
    Services
=============*/

#services {
  margin: 0 auto 0 auto;
}

.service-item {
  padding: 20px 0 20px 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.fa {
  font-size: 300%;
}

.service-item-icon {
  i {
    color: $greenBlue;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;

    &:hover {
      color: #fff;
      background-color: $greenBlue;
    }
  }
}

.service-item-title {
  h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
  }
}

.service-item-desc {
  p {
    margin: 0;
    padding-left: 100px;
  }
}
