/*============
    General
=============*/
html, body {
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif; }

p {
  color: #64707b;
  font-size: 16px;
  font-weight: 300; }

h3 {
  text-transform: uppercase;
  color: #41464b; }

/*============
 Home Section
=============*/
#home {
  height: 100%; }

#home-cover {
  height: 100%;
  background-image: url("../images/bg-home.jpg"); }

#home-content-box {
  width: 100%;
  height: 100%;
  display: table; }

#home-content-box-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

#home-heading h3 {
  color: #fff;
  font-size: 55px;
  font-weight: 400;
  margin: 20px 0 20px 0;
  text-transform: uppercase; }

/*============
Parallax (Generic)
=============*/
.bg-parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.bg-parallax-about {
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  background-attachment: fixed; }

/*============
    Buttons
=============*/
.btn-general {
  border-width: 2px;
  border-radius: 0;
  padding: 12px 26px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase; }

.btn-white {
  border-color: #fff;
  color: #fff; }
  .btn-white:hover, .btn-white:focus {
    background-color: #fff;
    color: #41464b; }

.btn-blue {
  border-color: #149297;
  color: #149297; }
  .btn-blue:hover, .btn-blue:focus {
    background-color: #149297;
    color: #fff; }

/*============
  Animations
=============*/
#home-cover, #home-heading, #home-btn {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s; }

#home-cover {
  -webkit-animation-delay: .1s;
          animation-delay: .1s; }

#home-heading {
  -webkit-animation-delay: .5s;
          animation-delay: .5s; }

#home-btn {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

/*============
    Content
=============*/
.content-box {
  padding: 60px 0 60px 0; }

.content-title h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px 0; }

.content-title-underline {
  width: 30px;
  height: 3px;
  background-color: #149297;
  margin: 0 auto 30px auto; }

/*============
    Services
=============*/
#services {
  margin: 0 auto 0 auto; }

.service-item {
  padding: 20px 0 20px 0;
  margin-bottom: 20px;
  cursor: pointer; }

.fa {
  font-size: 300%; }

.service-item-icon i {
  color: #149297;
  float: left;
  padding: 15px;
  margin-right: 25px;
  width: 75px;
  height: 75px;
  text-align: center; }
  .service-item-icon i:hover {
    color: #fff;
    background-color: #149297; }

.service-item-title h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px 0; }

.service-item-desc p {
  margin: 0;
  padding-left: 100px; }

/*============
    About
=============*/
#about-bg-diagonal {
  width: 60%;
  height: 700px;
  float: right;
  background-image: url("../images/hungrymonkey.JPG");
  background-repeat: no-repeat;
  background-position: right;
  border-left: 200px solid #fff;
  border-top: 700px solid transparent; }

#about-content-box {
  float: left;
  height: 700px; }

#about-content-box-outer {
  width: 100%;
  height: 100%;
  display: table; }

#about-content-box-inner {
  display: table-cell;
  vertical-align: middle; }

#about .content-title h3 {
  text-align: left; }

#about .content-title .content-title-underline {
  margin: 0 0 30px 0; }

#about-desc p {
  margin-bottom: 30px; }

/*============
     Work
=============*/
.row.no-gutters [class*=col-] {
  padding-left: 0;
  padding-right: 0; }

.img-wrapper {
  overflow: hidden; }
  .img-wrapper img {
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease; }
    .img-wrapper img:hover {
      -webkit-transform: scale(1.5);
              transform: scale(1.5); }
